version: '3.8'

services:
  react:
    image: fe
    container_name: dhaddu/frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_BACKEND_URL=http://192.168.43.107:8080/api/tasks   # can also give node ontainer ip 
    depends_on:
      - node

  node:
    image: back
    container_name: dhaddu/backend
    ports:
      - "8080:8080"
    environment:
      - MONGO_CONN_STR=mongodb://mongo:27017/todo
      - MONGO_USERNAME=${MONGO_USERNAME}
      - MONGO_PASSWORD=${MONGO_PASSWORD}  
    depends_on:
      - mongo

  mongo:
    image: mongo:4.4.6
    container_name: mongo
    command:
      - "numactl"
      - "--interleave=all"
      - "mongod"
      - "--wiredTigerCacheSizeGB"
      - "0.1"
      - "--bind_ip"
      - "0.0.0.0"
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD} 
    privileged: true

volumes:
  mongo_data:  #/var/lib/docker/volumes

