name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend:latest -f frontend/Dockerfile frontend

      - name: Push  image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend:latest

     
      - name: Build docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/backend:latest -f backend/Dockerfile backend
      - name : push image   
        run: |  
          docker push ${{ secrets.DOCKER_USERNAME }}/backend:latest
      - name: Deploy to EC2
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          MONGO_USERNAME: ${{ secrets.MONGO_USERNAME }}
          MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}
        run: |
          # Create an SSH private key file for use with SSH
          echo "$SSH_PRIVATE_KEY" > id_rsa
          chmod 600 id_rsa

          # Copy docker-compose.yml file to EC2 instance
          scp -i id_rsa -o StrictHostKeyChecking=no docker-compose.yml ubuntu@65.2.191.55:/home/ubuntu

          # Connect to EC2 instance and deploy
          ssh -i id_rsa -o StrictHostKeyChecking=no  ubuntu@65.2.191.55 << 'EOF'
            cd /home/ubuntu
            echo "MONGO_USERNAME=${MONGO_USERNAME}" > .env
            echo "MONGO_PASSWORD=${MONGO_PASSWORD}" >> .env
            docker-compose pull
            docker-compose up -d
          EOF
